footer { 
    font-style: italic;
    font-family: $fuente;
    color: $blanco;
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(254,207,207,1) 60%, rgba(207,248,254,1) 100%);
    width: 100%;
    
}

