.contenedor { 
    padding-top: 30px;
    #titulos { 
        font-family: 'Beth Ellen', cursive;
        font-size: $veinte;
        height: 40px;
        color: $blanco;
        animation: bounceInLeft; 
        animation-duration: 3s;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        margin-top: 20px;
    }
}

div { 
    #nosotros { 
        font-family: $fuente;
        font-size: $veinte;
        color: rgb(46, 46, 106);
        margin-top: auto ;
    }
}

#carouselExampleCaptions { 
    width: 80%;
    margin: auto;
    margin-bottom: 40px;
    margin-top: 40px;
    
}