.titulo-cursos { 
    font-family: $fuente;
    color: rgb(46, 46, 106);
    font-size: 30px;
    margin: 30px;
    background-color:#fff2f2;
    padding: 10px;
    text-shadow: 10px;
}

.table { 
    
    color: rgb(46, 46, 106);
   
       
}



#profesor { 
    font-family: $fuente;
    color: rgb(46, 46, 106);
    font-size: 18px;
       
}

.descripcion { 
    font-family: $fuente;
    color: rgb(46, 46, 106);
    font-size: $veinte;
    margin: 30px;
}

#texto-horarios { 
    font-family: $fuente;
    color: rgb(46, 46, 106);
    font-size: $veinte;
}


 